<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="041cdcf9-8ef3-40e4-85e2-8f3de5e06155"
    Publisher="CN=aldanvy"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="041cdcf9-8ef3-40e4-85e2-8f3de5e06155" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Win10Demo2</DisplayName>
    <PublisherDisplayName>aldanvy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Win10Demo2.App">
      <uap:VisualElements
        DisplayName="Win10Demo2"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Win10Demo2"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="win10demo2" ReturnResults="optional">
            <uap:Logo>Assets\StoreLogo.scale-100.png</uap:Logo>
            <uap:DisplayName>Windows 10 SDK Demo 2</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.appService" EntryPoint="Win10DemoService.CalculatorService">
          <uap:AppService Name="CalculatorService"/>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.publisherCacheFolders">
      <PublisherCacheFolders>
        <Folder Name="SharedFolder" />
      </PublisherCacheFolders>
    </Extension>
  </Extensions>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>